# this token is used to verify that the request is coming from our code not user's code
# this token is dynamically populated when spwanning the builder and sidecar. 
# use `openssl rand -base64 32` to generate a new token
INTERNAL_API_TOKEN="your_token_here"